/* 
- Etiqueta: !important --> tiene prioriedad
*/

/* 
INFO PARA TRABAJAR MÁS RÁPIDO: 
1- 
font-family: 'Open Sans Condensed', sans-serif; 
2- 
font-family: 'BioRhyme', serif;
font-family: 'Open Sans Condensed', sans-serif;
3-
font-family: 'Roboto Slab', serif; 
4-
colores del logo:
 #C72767
 #EC9455
5-
colores de la palleta: 
#30BCED
#303036
#FFFAFF
#fc5130
#050401
 */

/* --- Características del Body---  */
body {
  background-color: #FFFAFF;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23feddd7' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  font-family: 'BioRhyme', serif;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
  color: #050401;
  margin: 10px 70px 10px 70px; 
}

/* --- Características que se aplican a toda la web: ---  */


/* todos los links de la web de color crimson & sin subrayados, comprendo perfectamente */
a {
  color: #C72767;
  text-decoration: none;
} 

h2 {
  font-size: 32px;
  font-weight: bold;
  padding: 300px, 10px;
}

/* El tamaño de todos los iconos de la web.
Ojo que logo no es un icon */
.icon {
  width: 20px;
}

/* 
formato de la linea de separación:   */
hr {
  border-top: 2px solid #C72767;
  margin: 10px 0px;
}

/* Característica de las lis de la web: */
li{
  font-weight: bolder;
} 

/* características de los parafos de la web: */
p {
  color: #050401;
  text-align: justify;
  line-height: 25px;
  font-family: 'BioRhyme', serif;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
  padding-top: 10px;
  }

/* --- Cabecera de la web ---  */

/* Con este comando el .upperHeaderNav & el .bottomHeaderNav
son hijos dispuestos uno abajo del otro */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}


/* Dudas comentadas abajo: */
.upperHeaderNav {
  color: #C72767;
  background-color: #FFFAFF;
  /* Porque tengo que poner un flex si solo hay un 
  teto para alienar el texto en el centro?
  No debería ser un align text center?  */
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 30px;
  margin-bottom: 40px;
}


/* Como saber cuando hay que poner 
las propriedades de pader en la ul o en el nav?  */
.bottomHeaderNav {
  /* display: flex; */
  /* flex-direction: row; */
  /* no esta funcionando el wrap ?  */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

/* Este comando ha puesto los elementos de la 
ul uno al lado del otro: */
.bottomHeaderNav ul {
  display: flex; 
  flex-direction: row;
  /* Parece ser que el flex wrap no esta funcionando bien, 
  no funciona con todas las lis?  */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color:  #FFFAFF; 
}

/* 
Ajustar tamaño & posición del logo  */
.logo {
  width: 200px;
  align-self: flex-end;
}



/* 
para que el logo ocupe mas espacio que las otras lis:  */
.homeLink{
  flex: 4 1 auto;
}

/* Bajar los 3 lis del menu del .bottomHeaderNav */
.intLink {
  align-self: center;
  margin-top: 50px;
  cursor: pointer;
  padding: 20px;
  flex: 1 1 auto;
}

/* Terminar de ajustar posición del botón en relación a las otras Lis  */
.section {
  margin-top: 50px;
  margin-left: 5px;
}


/* Porque no funciona? Es por las imagenes?
Intenté poner este hoover en todas las partes y nada... */
.menu ul li a:hoover{
  border-bottom: 20px, solid, darkblue;
  background-color:#EC9455;
}

/* para que los textos se queden abajo de los iconos 
y espaciar*/
.iconText {
  float: inline-end;
  padding-top: 10px;
}

/* para que los iconos se queden al centro del texto*/
.pull {
  float: none;
  padding-left: 30px;
} 

/* caracteristicas del botón del menú */
.button {
  /* Por qué me cambiar no solo el color del botón, pero de buena parte 
  la web?  
  background-color: #EC9455;*/
  cursor: pointer;
  display: inline-block; 
  border: none;
  font-weight: bold;
  padding: 5px 5px;
  font-size: 14px;
}


/* No está funcionando ¿Por qué?*/
.button:hoover {
  /* opacity: .7; */
  transform: translateY(0) scale(2);
  background-color: lightcoral;
}  


/* --- Empieza el MAIN --- */


/* La división que tiene la foto de portada, añadida
cómo un background. También le he puesto propriedades
flex por los títulos*/
.portrait {
  width: 100%;
  height: 600px;
  background: url(../IMG/PHOTOS/wheretogo.jpg) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: flex-start; 
  /* El padding, al menos el padding botton no esta funcionando?
  padding: 100px, 0px, 600px, 0px; 
  También intenté poner margenes y nada ...*/
}

/* Características de los títulos de la foto de portada */
.portrait h2 {
  font-size: 70px;
  font-weight: bolder;
  font-family: font-family: 'Roboto Slab', serif;
  margin: 10px;
  background-color: white;
  opacity: 0.8;
  padding: 0px 0px 20px 5px;
}

/* --- La división de las actividades --- */

/* Limitar el tamaño de las fotos de las actividades */
.pictures{
  width: 300px;
  height: 200px;
}

/* Aplicar el flex en la división de las actividades para que estén distribuidas */
.father{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-evenly;
}

/* Margen en las divisiones hijas */
.sons{
  margin: 10px;
}

/* Características del p de las divs "soons" */
.activities {
font-size: 24px;
margin-bottom: 10px;
}

/* h3 de la división de Sign Up  */
.signUp {
  font-weight: bolder;
  font-size: 30px;
  padding: 10px;
  background-color: #FFFAFF;}


/* Flex de los h3s de la división de Sign Up para posicionar  */
.titles {
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-around;
align-content: center;
  }

  /* Añadir flex a la división madre para alinear
  los elementos */
  .mother{
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
margin:40px 5px ;
  }

/* Flex para centrar boton */
.btnSingUp {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* Flex para centrar elementos */
.cousin {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px;
}

/* --- Search Bar ---  */

/* Enviar la división del titulo del search bar al centro */
.searchBar {
display: flex;
flex-wrap: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
}

/* Diseño del buscardor en sí */
.searcher{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #C72767;
  height: 40px;
  border-radius: 40px;
  padding:10px;
  margin-left: 50px;
  margin-right: 200px;
}
.searchBtn {
color: ;
float:right;
width:40px;
height: 40px;
border-radius: 50%;

background-color: #C72767;
display: flex;
justify-content: center;
align-items: center; 
}
/* Input del searchBar */
.searchTxt {
border:none;
background:none;
outline:none;
float: right;
padding:0px;
color: #FFFAFF;
font-size: 20px;
transition: 0.4s;
line-height: 40px;
width: 240px;
}

/* Características del H2 del SearchBar */
.searchBar h2 {
  font-size: 42px;
  color: #050401;
  font-weight: bold;
  padding: 300px, 10px;
  margin:40px 20px 80px 5px;
  background-color: #FFFAFF;
}

/* 
Disposicion del calendario & boton uno al lado del otro con flex */
.bottomSearchbar{
  display: flex;
  flex-wrap: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px; 
}

/* Alinear la fecha con la barra de buscar */
.dateLeft {
flex: 3 1 auto;
margin-left: 200px;
}

/* Proporcion de espacio del boton abajo del buscador */
.buttonRight {
flex: 1 1 auto;
}

/* --- Last Division --- */

/* Añadir flex para dividir las 2 partes */
.lastDivision {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}

/* Proporción del espacio de filtros con flex & margenes */
.filters{
  flex: 3 1 auto;
  margin: 10px 5px 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Proporción del espacio del maps con flex & margenes */
.mapa{
  flex: 1 1 auto;
  
}

.filters p {
  font-weight: bolder;
  font-size: 20px;
  padding: 10px;
  background-color: #FFFAFF;

}

/* --- Empieza el Footer --- */

/* El Hr del footer es mas estrecho */
.footerLine {
  border-top: 1px solid #C72767;
  margin: 20px 0px;
}

/* Poner los elementos del footer uno abajo del otro */
footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

/* Caracteristicas de los H4 del footer */
.footerTitle{
  font-weight: bolder;
  font-size: 20px;
  padding: 10px;
  background-color: #FFFAFF;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Añadiéndo Flex a las uls del footer para que
se queden alineadas & con espacios:  */
 .footerAboutUs  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 10px;
} 
.footerOwnerSingIn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 10px;
} 
.footerOurStore {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: center;
  padding-top: 10px;
}
.socialNetwork {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: center;
  padding-top: 10px;
}
.bottomFooter{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  } 


/* Para que el texto de los iconos de 
las redes sociales floten:  */
.snText {
float: inline-start;
}

/* Centrando & dando espacio a los iconos
de las redes sociales: */
.fbPull{
  float: none;
  padding-left: 15px;
  padding-bottom: 2px;
}
.twPull{
  float: none;
  padding-left: 9px;
  padding-bottom: 2px;
}
.instPull{
  float: none;
  padding-left: 15px;
  padding-bottom: 2px;
}


/* Es la caja que engloba las
divisiones de idioma(left) & moneda (right), parece 
ser que no funciona bien?, revisar  */
.container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
}

/* La caja de la Moneda, aplicar tamaño del flex, color
de fundo & que los elementos esten centrados en esta 
caja */
.right{
  flex-grow: 1;
  align-self: center;
  background-color: #FFFAFF;
} 

/* La caja del idioma, aplicar tamaño del flex, color
de fundo & que los elementos esten centrados en esta 
caja */
.left{
  flex-grow: 1;
  background-color:#FFFAFF;
}

/* Para que el texto de quede abajo del icono y se ajuste: */
.lang{
  float: inline-start;
  margin-left: 150px;
}

/* Para que el texto de quede abajo del icono y se ajuste: */
.currency{
float: inline-start;
margin-left: 80px;
}

/* ajustando el icono de la moneda */
.currencyPull{
float: none;
padding-left: 10px;
padding-top: 5px;
padding-bottom: 2px;
margin-left: 80px;
}

/* Margen extra a las lis de esta div */
 .center{
  margin-left: 20px;
}

/* ajustando el icono del idioma */
.languagePull{
float: none;
padding-left: 15px;
padding-top: 5px;
padding-bottom: 2px;
margin-left: 150px;
}

/* Aplicando flex a la ul de language para
ajustar las lis*/
.chooseLang{
display: flex;
flex-direction: row;
flex-wrap: wrap;
} 

/* Espacios en las Lis para que se pueda leer mejor */
.chooseLang li{
  padding: 10px;
} 

/* Aplicando flex a la ul de currency para ajustar las lis */
.chooseCurrency{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Espacios en las Lis para que se pueda leer mejor */
.chooseCurrency li{
  padding: 10px;
}


/* El h4 del chatBot */
.chatMessage{
  font-weight: bolder;
  font-size: 20px;
  color: #C72767;
  padding: 10px;
  background-color: #FFFAFF;
}

/* Espacio reservado para el chatBot */
.chatBot{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Botón del Chatbot */
.buttonFooter {
  /* En este botón funciona el background Color, en
  el del header que es igual, no. ¿Por que? */
  background-color: #FFFAFF;
  cursor: pointer;
  display: inline-block; 
  border-color:#C72767;
  border-width: thin;
  font-weight: bold;
  padding: 5px 5px;
  font-size: 14px;
  margin-left: 300px;
  margin-bottom: 20px;
}

/* No está funcionando ¿Por qué?*/
.buttonFooter:hoover {
  /* opacity: .7; */
  transform: translateY(0) scale(2);
  background-color: lightcoral;
} 